/* timeline */
.timeline{
	background: url(../img/timeline.jpg)no-repeat top center;
	min-height: 100vh;
	background-size: cover;
	/* background-attachment: fixed; */
}
$gr-size: 5;
@for $i from 1 through $gr-size {
	.timeline-wrapper:nth-child(#{$gr-size}n + #{$i}) {
		.timeline-item:before{
			@if $i == 1 {
				content: "2000";
			} @else if $i == 2 {
				content: "2004";
			} @else if $i == 3 {
				content: "2005";
			} @else if $i == 3 {
				content: "2011";
			} @else {
				content: "2015";
			}
		}
	}
}

.timeline{
	.container-fluid{
		width: auto;
	}
}	

.line {
	position: relative;
	margin: auto;
	max-width: 100%;
	&::before {
		content: "";
		position: absolute;
		width: .3rem;
		height: 85%;
		background-color: $primary;
		top: 0;
		left: -2rem;
		margin: 1rem 0;
	}
	.timeline-wrapper {
		margin: 2.5rem 0.1rem;
		display: flex;
		align-items: center;
		&:last-child {
			margin-bottom: 0;
		}
	}
	.timeline-item {
		position: relative;
		&::before{
			position: absolute;
			width: 6rem;
			height: 6rem;
			background-color: $white;
			border-radius: 50%;
			left: -9.8rem;
			top: 50%;
			transform: translateY(-50%);
			border: 0.3rem solid;
			margin: 0 1rem;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size:1.5rem;
			font-weight:bold;
		}
	}
}
.timeline-item-description {
	display: block;
	font-size: 1.2rem;
	font-weight: 700;
}
@media (max-width: 768px){
	.line{
		    margin-left: 5rem;
		&::before {
			//display: none;
			    left: -2.4rem;
		}
		.timeline-item{
			&::before{
				width: 5rem;
				height: 5rem;
				left: -6.8rem;				
			}
		}
	}
}
@media (min-width: 768px){
	.line{
		left: 0;
		&::before {
			left: 50%;
			margin: 3rem 0;
		}
	}
	.timeline-wrapper{
		margin-left: 0;
		&:nth-child(odd) {
			padding-right: 6rem;
			text-align: right;
		}
		&:nth-child(even) {
			padding-left: 6rem;
			margin-left: 50%;
		}
		&:nth-child(odd) .timeline-item::before{
			right: -10.1rem;
			left: auto;		
		}
	}
}