header#home.header-wrapper(itemscope itemtype = "http://schema.org/Organization")
	.container.h-100.header
		.row.header__row
			.col-12.header__block-1
				img.img.logo.header__logo(src='img/logo-white.svg', alt=mainName itemprop = "logo")
			.col-12.header__block-2
				h1#textheader.title.header__title Нетканые материалы