- var banner = "Компания «АТГ» занимается производством нетканых<br>материалов с 2000 года и является одним из крупнейших<br>производителей на территории Российской Федерации.";
if banner
	section.banner-wrapper
		.container-fluid
			.banner
				h2.banner__title !{banner}