-
	var timeline = [
		{'text': 'Запуск первой линии для производства синтепона в Республике Беларусь'},
		{'text': 'Принято решение для уменьшения логистических издержек о переносе производственных мощностей в Гагарин (Смоленская обл.)'},
		{'text': 'Запуск новой линии для производства нетканых материалов по технологии Spunbond'},
		{'text': 'Проведена полная модернизация производственных мощностей, что позволило повысить качество выпускаемой продукции и увеличить объем производимых нетканых материалов до 50 млн м<sup>2</sup>'},
		{'text': 'Начато производство новой линейки высококачественных нетканых материалов под товарным знаком «'+mainName+'»®'}
	];
- var title = 'История компании:'

mixin timeline(desc)
	.timeline__desc-text !{desc.text}
section#history.timeline-wrapper
	if title
		h2.timeline__title= title
	if timeline
		.timeline
			each desc in timeline
				.timeline__item
					.timeline__year
						.icon.timeline__year-icon
					.timeline__desc
						+timeline(desc)