.container.py-5.my-5.text-center
	.row.py-lg-5.my-lg-5.py-md-2.my-md-auto
		.col
			h1.text-primary.font-weight-bold.text
				| Компания «АТГ» занимается производством нетканых
				| материалов с 2000 года и является одним из крупнейших
				| производителей на территории Российской Федерации.
span.d-flex.justify-content-center.position-absolute.w-100.text-center
	.star.text-white.bg-primary
		|&#9733;