.container.py-5(itemscope itemtype="http://schema.org/Organization")
	.row
		.col-12.my-5.py-5
			h1.display-4.text-primary.text-center.py-5.font-weight-bold(itemprop="address" itemscope itemtype="http://schema.org/PostalAddress") Контакты
	.container.my-5
		.row.my-5
			.col-sm-7.col-md-6.m-auto.d-flex.justify-content-center
				.card.border-0
					.card-block.text-center
						h2
							strong.card-title(itemprop="addressLocality") Москва
						p.h4
							tel.card-text(itemprop="telephone")
							|тел.
							a(href="tel:+74996491414") +7 499 649 14 14 
							|(доб. 172)
							br
							|моб.
							a(href="tel:+79162635868") +7 916 263 58 68
			.col-sm-7.col-md-6.m-auto.d-flex.justify-content-center
				.card.border-0
					.card-block.text-center
						h2
							strong.card-title Санкт-Петербург<br>
						p.h4
							tel.card-text
							|тел.
							a(href="tel:+78124267447") +7 812 426 74 47
							|(доб. 2140)
							br
							|моб.
							a(href="tel:+79214115916") +7 921 411 59 16
	.container-fluid.py-5.my-5.h-50
		form#contactform.contactform.my-5(method="post" action="./form/send.php")
			.controls.py-2
				.row
					.col-sm-12.col-lg-4
						.form-group
							input#name.form-control.rounded-0.p-2(name="name" type="text" placeholder="Имя*" pattern="^([А-ЯA-Z]|[А-ЯA-Z][\x27а-яa-z]{1,}|[А-ЯA-Z][\x27а-яa-z]{1,}\-([А-ЯA-Z][\x27а-яa-z]{1,}|(оглы)|(кызы)))\040[А-ЯA-Z][\x27а-яa-z]{1,}(\040[А-ЯA-Z][\x27а-яa-z]{1,})?$" required)
					.col-sm-12.col-lg-4
						.form-group
							input#email.form-control.rounded-0.p-2(name="email" type="email" placeholder="Email*" pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}" required)
					.col-sm-12.col-lg-4
						.form-group
							input#phone.form-control.rounded-0.p-2(name="phone" type="text" placeholder="Телефон*" pattern='^(\+?\d[- .]*){7,13}' required)
			.clearfix
			.row.mb-5.pb-5
				.col-md-12.py-2
					.form-group
						textarea.form-control.rounded-0.py-2(name="message" placeholder="Сообщение" cols="30" rows="5" required)
				.col-md-12.py-2
					button#submit.flat-button.w-100.bg-primary.text-white.py-3.border-0(name="submit" type="submit" title="отправить запрос") Отправить