.container-fluid.py-5.bg-primary.w-100
	.container(itemscope itemtype = "http://schema.org/Organization")
		.row
			.col-12.d-flex.flex-column.justify-content-center.align-items-center.w-25
				img.mx-auto.logo.mb-4(src='img/logo-white.png', alt='Hetta' itemprop = "logo")
			.col-12.d-flex.justify-content-center.align-items-center
					h4.text-white(itemprop = "name") &copy; 2018 Hetta&trade;