.container-fluid(itemscope itemtype="http://schema.org/ItemList")
	.row(itemprop="itemListElement" itemscope itemtype="http://schema.org/Product")
		.col-xl-7.col-lg-12.img(itemprop="image")
			.hettamicro
		.col-xl-5.col-lg-12.py-5
			.d-flex.justify-content-center.flex-row.align-items-center.h-100
				.card.flex-row.border-0.text-indigo.m-lg-4.m-md-2.m-sm-1.m-xs-0
					.card-body.my-5.p-0
						h1.card-title.display-3.mb-5(itemprop="name")
							span.text-capitalize Hetta 
							span.text-uppercase.text-nowrap
								|Micro
								sup &trade;
						p.card-text.h3.font-weight-normal(itemprop="description")
							|Hetta Micro – специально разработанный
							|материал, предназначенный для использования
							|в качестве утеплителя при производстве
							|высококачественной одежды, спецодежды.
							|Изготавливается с использованием
							|микроволокон, что позволяет эффективно
							|удерживать тепло, и в то же время, обеспечивать
							|высокую воздухопроницаемость.
	.row
		.over.col-xl-6.col-lg-12.bg-indigo.text-white.p-lg-5.px-md-2.p-4.px-md-2
			.d-flex.flex-wrap.h-100.m-auto.p-lg-5.px-md-2.p-md-5.px-md-2
				h4.my-3 Технические характеристики материала:
				table.table.table-bordered.table-hover.text-center
					thead
						tr
							th(scope="col") Материал
							th(scope="col")
								|Плотность,
								|г/м&sup2;
							th(scope="col")
								|Суммарное тепловое
								|сопротивление, м&sup2;
								|С/ВТ
							th(scope="col")
								|Намотка,
								|м
					tbody
						tr
							td(scope="row")
								|Hetta
								sup &reg;
								|Micro
							td 100
							td 0,37
							td 50,00
						tr
							td(scope="row") 
								|Hetta
								sup &reg;
								|Micro
							td 150
							td 0,46
							td 40,00
						tr
							td(scope="row")
								|Hetta
								sup &reg;
								|Micro
							td 200
							td 0,52
							td 30,00
				p.h5.text-right.w-100.font-weight-light
						|Состав: 100% полиэфирные микроволокна
						br
						|Ширина полотна: от 1,5 м до 3,2 м
						br
						|Плотность: от 40 г/м&sup2;
						|до 500 г/м&sup2;
		.col-xl-6.col-lg-12.bg-primary.text-white.p-lg-5.px-md-2.p-4.px-md-2(itemprop = "review" itemscope itemtype = "http://schema.org/Review")
			.d-flex.flex-wrap.h-100.m-auto.p-lg-5.px-md-2.p-4.px-md-2
				h4.my-3(itemprop = "name") Преимущества утеплителя для одежды Hetta Micro:
				ul.h5.font-weight-normal(itemprop = "description")
					li
						p надежная защита от холода при минимальном объеме
					li
						p легкий и тонкий - обеспечивает дополнительный комфорт, не сковывает движения
					li
						p теплоизолирующие свойства сохраняются даже при намокании одежды
					li
						p безопасен для здоровья - не вызывает аллергии, не токсичен
					li
						p износостойкий - сохраняет упругость и форму после многократных стирок
span.d-flex.justify-content-center.position-absolute.w-100.text-center
	.star.text-primary.bg-white
		|&#9733;