.container
	nav.navbar.fixed-top.navbar-light(role="navigation")
		ul.nav.nav-pills.w-100.text-center.d-flex.justify-content-around.h5
			li.nav-item.flex-grow-1
				a.nav-link(href="#home") Главная
			li.nav-item.flex-grow-1
				a.nav-link(href="#timeline") История
			li.nav-item.flex-grow-1
				a.nav-link(href="#sliders") Отрасли
			li.nav-item.btn-group.flex-grow-1.d-flex
				a.nav-link.w-75(href="#products") Продукция
				a.w-25.btn.dropdown-toggle.dropdown-toggle-split.m-auto(data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
					span.sr-only Продукция
				.dropdown-menu.w-100
					a.h6.dropdown-item(href="#micro") Hetta MICRO™
					a.h6.dropdown-item(href="#kids") Hetta KIDS™
					a.h6.dropdown-item(href="#standart") Hetta STANDART™
					a.h6.dropdown-item(href="#premium") Hetta PREMIUM S5™
			li.nav-item.flex-grow-1
				a.nav-link(href="#contact") Контакты
