.container-fluid
	.row
		.col-xl-6.col-lg-12.py-5.bg-secondary
			.d-flex.justify-content-center.flex-row.h-100
				.card.flex-row.border-0.text-white.bg-secondary
					.card-body.mx-lg-5.px-lg-2.mx-md-auto.px-md-0
						h1.card-title.display-3.mb-5
							span.text-capitalize Hetta 
							span.text-uppercase.text-nowrap
								|premium S5
								sup &trade;
							p.h3 для производства мебели и матрасов
						.card-text.font-weight-normal.h4
							p
								|&laquo;Hetta premium S5&raquo; нетканое полотно,
								|производимое из полых высокоизвитых волокон,
								|которые придают материалу прочность, упругость
								|и изностойкость.
							h3.my-5 Преимущества:
							ul
								li безопасно для здоровья - не вызывает аллергии, не токсично
								li повышенная прочность и износостойкость
								li отличная восстанавливаемость после множественных сжатий
								li упругость
							p.my-5
								|Рекомендовано при производстве мягкой мебели и ее компонентов,
								br
								|также идеально подходит для производства матрасов.
		.col-xl-6.col-lg-12.px-0.img.d-flex.align-items-end
			.h5.text-left.text-white.w-100.mb-0
				.hettamicro.m-auto
				p.my-0.bg-indigo.pr-5
					|Состав: 100% полиэфирные микроволокна
					br
					|Ширина полотна: от 1,5 м до 3,2 м
					br
					| Плотность: от 40 г/м&sup2;
					| до 500 г/м&sup2;
span.d-flex.justify-content-center.position-absolute.w-100.text-center
	.star.text-primary.bg-white
		|&#9733;