.container-fluid.p-0(itemscope itemtype="http://schema.org/Product")
	h1.text-primary.font-weight-bold.text-center.text.py-5.my-5
		|Перечень выпускаемой продукции компанией «АТГ»:
	.card-group
		.card.border-0
			.card-header.bg-danger.text-white.text-center(itemprop="name")
				h2.font-weight-bold Синтепон
			.card-body(itemprop="description")
				.card-text.h4.text-primary.my-5
					p Синтепон это легкий, объемый нетканый материал, который изготавливается из полиэфирных волокон, методом термоскрепления.
					p Сферы применения:
					ul
						li текстильная промышленность
						li мебельное производство
						li производство матрасов
						li строительство
						li производство фильтров
					p
						|&laquo;АТГ&raquo; выпускает синтепон различных плотностей от 40 до 500 г/м
						sup 2
						|и различных ширин от 0,1 до 4,5 м.
						br
						|По желанию клиента возможно
		.card.border-0
			.card-header.bg-secondary.text-white.text-center(itemprop="name")
				h2.font-weight-bold Спанбонд
			.card-body(itemprop="description")
				.card-text.h4.text-primary.my-5
					p Спанбонд это нетканый материал из расплава полимера (полипропилена), изготовленный фильерным способом методом термоскрепления на каландре
					p Сферы применения:
					ul
						li текстильная промышленность
						li мебельное производство
						li производство матрасов
						li строительство
						li сельское хозяйство
						li дорожное строительство
					p
						|&laquo;АТГ&raquo; выпускает спанбонд различных плотностей от 15 до 130 г/м
						sup 2
		.card.border-0
			.card-header.bg-primary.text-white.text-center(itemprop="name")
				h2.font-weight-bold
					|Hetta
					sup ®
			.card-body(itemprop="description")
				.card-text.h4.text-primary.my-5
					p Hetta это специально разбоработанная компанией &laquo;АТГ&raquo; линейка высококлассных нетканых материалов, которые изготавливаются из высококачественного первичного сырья, методом термоскрепления волокон.Уникальные свойства материалов позволяют использовать их в различных отраслях производства:
					ul
						li текстильная промышленность (утеплители для верхней одежды, специальной и детской одежды)
						li мебельное производство
						li производство матрасов
						li производство фильтров
span.d-flex.justify-content-center.position-absolute.w-100.text-center
	.star.text-white.bg-primary
		|&#9733;