script(src="js/main.min.js")
script(src="js/script.min.js")
//- Yandex.Metrika counter
script(type="text/javascript").
	(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter48109004 = new Ya.Metrika({ id:48109004, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true, trackHash:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");
noscript
	img(src="https://mc.yandex.ru/watch/48109004" style="position:absolute; left:-9999px;" alt="")
//- Yandex.Metrika counter
//- Global site tag (gtag.js) - Google Analytics
script(async src="https://www.googletagmanager.com/gtag/js?id=UA-114300-25")
script.
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());
	gtag('config', 'UA-114300-25');
script(type = 'application / ld + json').
	{
		"@context": "http://www.schema.org",
		"@type": "product",
		"brand": "Hetta",
		"url": "http://hetta.pro/",
		"logo": "http://hetta.ru/img/logo-blue.png",
		"description": "Фабрика нетканых материалов и синтепона российского производства Hetta: Standart, Micro, Kids, Premium",
		"address": {
			"@type": "PostalAddress",
			"streetAddress": "Санкт-Петербург",
			"addressLocality": "Санкт-Петербург",
			"addressCountry": "Россия"
		},
		"openingHours": "Mo, Tu, We, Th, Fr 09:00-18:00"
	}