.container
	.row
		.col.my-5.text-primary
			h2.py-lg-5.py-sm-0.my-5.font-weight-bold.text-center
				|История компании:
			aside.line.my-5.pb-5
				.col-12.col-md-6.timeline-wrapper
					.timeline-item
						.timeline-item-description Запуск первой линии для производства синтепона в Республике Беларусь
				.col-12.col-md-6.timeline-wrapper
					.timeline-item
						.timeline-item-description Принято решение для уменьшения логистических издержек о переносе производственных мощностей в Гагарин (Смоленская обл.)
				.col-12.col-md-6.timeline-wrapper
					.timeline-item
						.timeline-item-description Запуск новой линии для производства нетканых материалов по технологии Spunbond
				.col-12.col-md-6.timeline-wrapper
					.timeline-item
						.timeline-item-description
							|Проведена полная модернизация производственных мощностей, что позволило повысить качество выпускаемой продукции и увеличить объем производимых нетканых материалов до 50 млн м
							sup 2
				.col-12.col-md-6.timeline-wrapper
					.timeline-item
						.timeline-item-description
							|Начато производство новой линейки высококачественных нетканых материалов под товарным знаком «Hetta»
							sup &reg;
span.d-flex.justify-content-center.position-absolute.w-100.text-center
	.star.text-primary.bg-white
		|&#9733;