@import "page/header";
@import "page/timeline";
@import "page/slider";
@import "page/products";
@import "page/footer";
@font-face {
	font-family: 'Foros';
	src: url('../fonts/Foros-Regular.eot');
	src: local('../fonts/Foros Regular'), local('../fonts/Foros-Regular'),
		url('../fonts/Foros-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Foros-Regular.woff') format('woff'),
		url('../fonts/Foros-Regular.ttf') format('truetype'),
		url('../fonts/Foros-Regular.otf') format('otf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Foros';
	src: url('../fonts/Foros-Medium.eot');
	src: local('../fonts/Foros Medium'), local('../fonts/Foros-Medium'),
		url('../fonts/Foros-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Foros-Medium.woff') format('woff'),
		url('../fonts/Foros-Medium.ttf') format('truetype'),
		url('../fonts/Foros-Medium.otf') format('otf');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Foros';
	src: url('../fonts/Foros-Bold.eot');
	src: local('../fonts/Foros Bold'), local('../fonts/Foros-Bold'),
		url('../fonts/Foros-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Foros-Bold.woff') format('woff'),
		url('../fonts/Foros-Bold.ttf') format('truetype'),
		url('../fonts/Foros-Bold.otf') format('otf');
	font-weight: bold;
	font-style: normal;
}
.star{
	border-radius: 50%;
	width: 5rem;
	height: 5rem;
	font-size: calc(10 / 3rem);
    top: -2.5rem;
    position: relative;
	z-index: 5;
}
.text-indigo{color: $indigo;}
.bg-indigo{background-color: $indigo;}
.table thead th {
	vertical-align: middle;
}
.over{
	overflow: overlay;
}
.h1,h1 {
	@include media-breakpoint-up(xs) {
		font-size: x-large;
	}
	@include media-breakpoint-up(sm) {
		font-size: x-large;
	}
	@include media-breakpoint-up(md) {
		font-size: 2.5rem;
	}
	@include media-breakpoint-up(lg) {
		font-size: 2.5rem;
	}
}
.display-3 {
	@include media-breakpoint-up(xs) {
		font-size: 2.5rem;
	}
	@include media-breakpoint-up(sm) {
		font-size: 3.5rem;
	}
	@include media-breakpoint-up(md) {
		font-size: 4.5rem;
	}
	@include media-breakpoint-up(lg) {
		font-size: 4.5rem;
	}
}
.slider,.contact {
	@include media-breakpoint-up(xs) {
		background-attachment: inherit;
	}
	@include media-breakpoint-up(sm) {
		background-attachment: inherit;
	}
	@include media-breakpoint-up(md) {
		background-attachment: fixed;
	}
	@include media-breakpoint-up(lg) {
		background-attachment: fixed;
	}
}