- var goods = 'Extra';
- var src = 'kids.jpg';
- var srcHr = 'hettamicro.png';
- var alt = goods;
- var tablesTitle = 'Технические характеристики материала:';
-
	var table = [
		{'material': goods, 'density': '100', 'warmth': '0,34', 'winding': '50,00'},
		{'material': goods, 'density': '150', 'warmth': '0,44', 'winding': '40,00'},
		{'material': goods, 'density': '200', 'warmth': '0,50', 'winding': '30,00'}
	];
-
	var tablesText = [
		{'comp': '100% полиэфирные микроволокна', 'width': 'от 1,5 м до 3,2 м', 'density': 'от 40 г/м² до 500 г/м²'}
	];
-
	var icons = [
		{'img': 'thermometer.svg', 'alt': 'Тепло'},
		{'img': 'social-media.svg', 'alt': 'Удобно'},
		{'img': 'student.svg', 'alt': 'Безопасно'},
		{'img': 'guarantee.svg', 'alt': 'Надежно'},
		{'img': 'piggy-bank.svg', 'alt': 'Экономично'}
	];
- var text = mainName + ' ' + goods + ' – специально разработанный компанией «АТГ» материал, предназначенный для использования в качестве утеплителя при производстве высокачественной детской одежды. Изготавливается с использованием силиконизированных микроволокон, которые обеспечивают высокую теплоизоляцию и повышенную эластичность. Идеально подходит в изделия для активных детей.';

include ./../product.pug